<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit</title>
</head>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>

    <h1 style="text-align:center"> Edit Post</h1>
    <div id="content-center">
        <form action="/<%= post._id %>/edit" method="post">
            <div class="inner-box">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" value="<%= post.title %>">
            
                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="30" rows="10"><%= post.description %></textarea>
            </div>
            <div class="btn">
                <button type="submit">Update Note</button>
            </div>
        </form>

        <!-- don't want to edit post -->
        <form action="/profile" method="get">
            <div class="btn">
                <button type="submit">Cancel</button>
            </div>
        </form>
    </div>
</body>
</html>