<header>
    <div class="head-left">
        <a href="/">BlogSite</a>
    </div>
    <div class="head-right">
        <div class="create-note">
            <a href="/create">Create Post</a>
        </div>
        <div class="login">
            <a href="/login">Login</a>
        </div>
        <div class="register">
            <a href="/register">Register</a>
        </div>
    </div>
</header>